@import "~ng-zorro-antd/ng-zorro-antd.min.css";
.login-form {
  width: 100%;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100px;
}

.mat-form-field {
  width: 100%;
}

.main {
  padding: 10px 15px;
  margin: auto;
  text-align: center;
  border: solid;
}